{% extends 'base.html' %}

{% load static %}

{% block title %} Bokerage Management {% endblock %}

{% block content %}
    <form action="/transaction/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <select name="seller">
            {% for client in clients %}
                <option value="{{client.id}}">{{client.name}}</option>
            {% endfor %}
        </select>
        
        <select name="buyer">
            {% for client in clients %}
                <option value="{{client.id}}">{{client.name}}</option>
            {% endfor %}
        </select>

        
        <select name="broker">
            {% for broker in brokers %}
                <option value="{{broker.id}}">{{broker.name}}</option>
            {% endfor %}
        </select>

        <input type="date" name="date">
        <input type="text" name="item" placeholder="Item" required/>
        <input type="number" name="quantity" placeholder="Quantity" required/>
        <input type="number" name="weight" placeholder="Weight" required/>
        <input type="number" name="rate" placeholder="Selling Rate" required/>
        <input type="number" name="brokerage" placeholder="Brokerage Rate" required/>
        <button type="submit">Submit</button> 
    </form>
   
{% endblock %}